body { 

    margin: 2rem;
    background-color: #f0f0f0;
    color: #333;
  }
  
  img {
    width: 100%;
    margin-top: 20px;
    transition: transform 0.3s ease;
  }

  img:hover {
    transform: scale(1.5);
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .flex-item {
    flex: 0 0 calc(25% - 1rem); /* 4 across, minus gap */
    box-sizing: border-box;
  }

  .center {
    text-align: center;
  }

  .no-underline {
    text-decoration: none;
  }

  .text-100 {
    font-size: 100px;
  }

  .border {
    border: 3px solid black;
  }

  .p-2p {padding: 2%;}
  .p-20 {padding: 20px}
  .p-40 {padding: 40px}

  .black {
    color: black
  }